$color-black-24: rgba(0, 0, 0, 0.24);
$color-black-16: rgba(0, 0, 0, 0.16);
$color-black-60: rgba(0, 0, 0, 0.6);
$color-black-38: rgba(0, 0, 0, 0.38);
$color-black-87: rgba(0, 0, 0, 0.87);
$color-black-08: rgba(0, 0, 0, 0.08);

$color-focus-a11y: rgba(0, 125, 255, 0.25);
$color-blue-curious: #1e88e5;

$font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
